@import './vendor/fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Ubuntu, system-ui, sans-serif;
  }
}

.page {
  min-width: 320px;
  min-height: 100vh;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.page__content {
  max-width: 1920px;
  display: grid;
  justify-items: center;
  margin: 0 auto;
}